.app-circle-bg {
  background: rgb(45,102,244);
  background: linear-gradient(190deg, rgba(45,102,244,1) 0%, rgba(62,99,241,1) 33%, rgba(234,64,213,1) 100%);
}

.theme-button {
  background: rgb(117,37,209);
  background: linear-gradient(190deg, rgba(117,37,209,1) 0%, rgba(117,37,209,1) 37%, rgba(141,67,190,1) 100%);
}
